[submodule "HoverBrain/pigpio"]
	path = HoverBrain/pigpio
	url = https://github.com/joan2937/pigpio.git
[submodule "HoverBrain/libwebsock"]
	path = HoverBrain/libwebsock
	url = https://github.com/payden/libwebsock.git
